# *Loan Decision Modeling with Machine Learning and Data Analyitics*

# Notebook 2:
---

## Dataset: 

The practice test data can be found [here](https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/download/test-file) and train data can be found [here](https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/download/train-file).
The dataSet come from a practice Hackahon on the Analytics Vidhya website with a prompt of:

"Dream Housing Finance company deals in all kinds of home loans. They have presence across all urban, semi urban and rural areas. Customer first applies for home loan and after that company validates the customer eligibility for loan.

Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have provided a dataset to identify the customers segments that are eligible for loan amount so that they can specifically target these customers."

## Ethics:

In the last notebook we got a base understanding of the dataset, modeled fairly accurately and established needs to continue improving the data.
However a few columns of data are not above board when it comes to ethics.
It is important when using machine learning and data analytics to consider that we are not introducing biasas that involve aspects such as gender, age, race, or class.

So In this notebook, we will take the ABT that was produced in the last notebook and make sure that all of our data is ethicly modeled and analyized.
This will take some more data processing and we can compare our models as well to see if there is loss of scores and if these features played an import role in them.

---

In [1]:
from importlib import import_module
import pandas as pd
import numpy as np
import seaborn as sb
import sklearn as sk
import imblearn as imb

In [2]:
# import cleaned ABT
pd.read_csv('data/lbd_cleaned.csv')

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,1,0,1,0,5720,0.0,110.0,360.0,1,0,1
1,1,0,1,1,1,0,3076,1500.0,126.0,360.0,1,0,1
2,2,0,1,2,1,0,5000,1800.0,208.0,360.0,1,0,1
3,3,0,1,2,1,0,2340,2546.0,100.0,360.0,1,0,1
4,4,0,0,0,0,0,3276,0.0,78.0,360.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,609,1,0,0,1,0,2900,0.0,71.0,360.0,1,1,1
977,610,0,1,3,1,0,4106,0.0,40.0,180.0,1,1,1
978,611,0,1,1,1,0,8072,240.0,253.0,360.0,1,0,1
979,612,0,1,2,1,0,7583,0.0,187.0,360.0,1,0,1
980,613,1,0,0,1,1,4583,0.0,133.0,360.0,0,2,0