# *Loan Decision Modeling with Machine Learning and Data Analyitics*

# Notebook 2:
---

## Dataset: 

The practice test data can be found [here](https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/download/test-file) and train data can be found [here](https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/download/train-file).
The dataSet come from a practice Hackahon on the Analytics Vidhya website with a prompt of:

"Dream Housing Finance company deals in all kinds of home loans. They have presence across all urban, semi urban and rural areas. Customer first applies for home loan and after that company validates the customer eligibility for loan.

Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have provided a dataset to identify the customers segments that are eligible for loan amount so that they can specifically target these customers."

## Ethics:

In the last notebook we got a base understanding of the dataset, modeled fairly accurately and established needs to continue improving the data.
However a few columns of data are not above board when it comes to ethics.
It is important when using machine learning and data analytics to consider that we are not introducing biasas that involve aspects such as gender, age, race, or class.

So In this notebook, we will take the ABT that was produced in the last notebook and make sure that all of our data is ethicly modeled and analyized.
This will take some more data processing and we can compare our models as well to see if there is loss of scores and if these features played an import role in them.

---

In [31]:
from importlib import import_module
import pandas as pd
import numpy as np
import seaborn as sb
import sklearn as sk
import imblearn as imb
import math
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [10]:
# import cleaned ABT
df = pd.read_csv('data/lbd_cleaned.csv')

## Re-Cleaning:

To re-evaluate our models and data we should clean data columns of features that could indicate discriminorty bias. or introducinc biases that could influence discrimintory related features.

In [11]:
df.drop('Gender', axis=1, inplace=True)

In [12]:
df.drop('Property_Area', axis=1, inplace=True)

In [13]:
df

,Unnamed: 0,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,0,1,0,1,0,5720,0.0,110.0,360.0,1,1
1,1,1,1,1,0,3076,1500.0,126.0,360.0,1,1
2,2,1,2,1,0,5000,1800.0,208.0,360.0,1,1
3,3,1,2,1,0,2340,2546.0,100.0,360.0,1,1
4,4,0,0,0,0,3276,0.0,78.0,360.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
976,609,0,0,1,0,2900,0.0,71.0,360.0,1,1
977,610,1,3,1,0,4106,0.0,40.0,180.0,1,1
978,611,1,1,1,0,8072,240.0,253.0,360.0,1,1
979,612,1,2,1,0,7583,0.0,187.0,360.0,1,1
980,613,0,0,1,1,4583,0.0,133.0,360.0,0,0

In [14]:
# Redefine Values
split_point = int(df.shape[0]*.70)
train_set = df.iloc[:split_point]
test_set = df.iloc[split_point:]

In [18]:
x = train_set.drop('Loan_Status', axis=1)
y = train_set['Loan_Status']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

## Retraining and Evaluating Model:

In [30]:
k = 3
neigh = KNeighborsClassifier(n_neighbors=k)
neigh.fit(x, y)
y_pred = neigh.predict(x_train)
print(f"Model Score: {100 *neigh.score(x_test, y_test)}%")

Model Score: 88.3495145631068%

In [32]:
y_true = test_set['Loan_Status']
tn, fp, fn, tp = confusion_matrix(y_true, y_pred[:295]).ravel()
(tn, fp, fn, tp)

(2, 90, 13, 190)

In [33]:
recall = tp / (tp + fn)
perc = tp / (tp + fp)
print(f"Recall: {recall}")
print(f"Precision: {perc}")

Recall: 0.9359605911330049
Precision: 0.6785714285714286